<%- page.content %>

    <% if(page.title === 'blog')
    site.posts.forEach(function(post) { %>
        <div class="post">
            <div class="post__date">
                <%= date(post.date, config.date_format) %>
            </div>
            <a href="<%= url_for(post.path) %>">
                <h2>
                    <%= post.title %>
                </h2>
            </a>
            <p>
                <%- post.excerpt || truncate(strip_html(post.content), { length: 500 }) %>
            </p>
        </div>
        <% }) %>