<%- page.content %>

    <% if(page.title === 'blog')
    site.posts.forEach(function(post) { %>
        <div class="post">
            <a href="<%= url_for(post.path) %>">
                <h3>
                    <%= post.title %>
                </h3>
                <p>
                    <%- post.excerpt || truncate(strip_html(post.content), { length: 500 }) %>
                </p>
                <span>posted on:
                    <%= date(post.date, config.date_format) %>
                </span>
            </a>
        </div>
        <% }) %>